/.vs
/dist
/YetAnotherTraderMod-ServerMod/.vs
/YetAnotherTraderMod-ServerMod/bin
YetAnotherTraderMod-ServerMod/config/tarkovdev_items_cache.json
/YetAnotherTraderMod-ClientMod/.vs
/YetAnotherTraderMod-ClientMod/bin
/YetAnotherTraderMod-ServerMod/dist
